<html xmlns:th="https://www.thymeleaf.org"
      th:replace="~{fragments/layout :: layout (~{::body},'register')}">

<body>

<h2>Register New Student</h2>

<form th:object="${user}" class="form-horizontal" method="post">

  <input th:replace="~{fragments/inputField :: input ('Email', 'email', 'text')}" />
  <input th:replace="~{fragments/inputField :: input ('Password', 'password', 'password')}" />

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button class="btn btn-primary" type="submit">Register</button>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <p>
        <span>Already have an account?</span>
        <a th:href="@{/login}">Login here</a>
      </p>
    </div>
  </div>

</form>

</body>
</html>
