<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'products')}">

<body>

<h2>Products</h2>


<table id="products" class="table table-striped">
  <thead>
  <tr>
    <th th:text="#{name}">Name</th>
    <th th:text="#{domain}">Domain</th>
    <th>Quantity</th>
    <th>Price</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="product : ${listProducts}">
    <td>
      <a th:href="@{/products/__${product.id}__}" th:text="${product.name}" /></a>
    </td>
    <td th:text="${product.domain}" />
    <td th:text="${product.quantity}" />
    <td th:text="${product.price}" />

  </tr>
  </tbody>
</table>

<div th:if="${totalPages > 1}">
  <span th:text="#{pages}">Pages:</span>
  <span>[</span>
  <span th:each="i: ${#numbers.sequence(1, totalPages)}">
      <a th:if="${currentPage != i}" th:href="@{'/products?page=' + ${i}}">[[${i}]]</a>
      <span th:unless="${currentPage != i}">[[${i}]]</span>
    </span>
  <span>] </span>
  <span>
      <a th:if="${currentPage > 1}" th:href="@{'/products?page=1'}" th:title="#{first}" class="fa fa-fast-backward"></a>
      <span th:unless="${currentPage > 1}" th:title="#{first}" class="fa fa-fast-backward"></span>
    </span>
  <span>
      <a th:if="${currentPage > 1}" th:href="@{'/products?page=__${currentPage - 1}__'}" th:title="#{previous}"
         class="fa fa-step-backward"></a>
      <span th:unless="${currentPage > 1}" th:title="#{previous}" class="fa fa-step-backward"></span>
    </span>
  <span>
      <a th:if="${currentPage < totalPages}" th:href="@{'/products?page=__${currentPage + 1}__'}" th:title="#{next}"
         class="fa fa-step-forward"></a>
      <span th:unless="${currentPage < totalPages}" th:title="#{next}" class="fa fa-step-forward"></span>
    </span>
  <span>
      <a th:if="${currentPage < totalPages}" th:href="@{'/products?page=__${totalPages}__'}" th:title="#{last}"
         class="fa fa-fast-forward"></a>
      <span th:unless="${currentPage < totalPages}" th:title="#{last}" class="fa fa-fast-forward"></span>
    </span>
</div>
</body>

</html>
