<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      th:replace="~{fragments/layout :: layout (~{::body},'products')}">

<body>

<h2 th:text="#{products}">Products</h2>
<a sec:authorize="hasRole('ADMIN')" th:href="@{/products/new}" class="btn btn-primary mb-3">
  <span class="fa fa-plus"></span>
  <span th:text="#{addProduct}">Add Product</span>
</a>

<table id="products" class="table table-striped">
  <thead>
  <tr>
    <!--    <th th:text="#{name}">Name</th>-->
    <!--    <th th:text="#{label.product.domain}">Country of Origin</th>-->
    <!--    <th th:text="#{quantity}">Quantity</th>-->
    <!--    <th th:text="#{price}">Price</th>-->
    <!--    <th th:text="#{ProductCategory}">Category</th>-->

    <!--      <tr th:each="product : ${listProducts}">-->
    <!--        <td th:text="${product.name}"></td>-->
    <!--        <td th:text="${product.domain}"></td>-->
    <!--        <td th:text="${product.quantity}"></td>-->
    <!--        <td th:text="${product.price}"></td>-->
    <!--        <td>-->
    <!--          <a th:href="@{/products/{id}(id=${product.id})}"-->
    <!--             class="btn btn-sm btn-success">-->
    <!--            View-->
    <!--          </a>-->
    <!--        </td>-->
    <!--      </tr>-->

  </tr>
  </thead>
  <tbody>

  <tr th:each="product : ${listProducts}">
    <td th:text="${product.name}">Product Name</td>
    <td>
      <a th:href="@{/products/{id}(id=${product.id})}"
         class="btn btn-sm btn-success">View</a>

      <a sec:authorize="hasAnyRole('ADMIN', 'MANAGER')"
         th:href="@{/products/{id}/edit(id=${product.id})}"
         class="btn btn-sm btn-warning">Edit</a>

      <a sec:authorize="hasRole('ADMIN')"
         th:href="@{/products/{id}/delete(id=${product.id})}"
         class="btn btn-sm btn-danger"
         onclick="return confirm('Are you sure?')">Delete</a>
    </td>
  </tr>
  <!--    </td>-->
  <!--  </tr>-->

  <!--  <tr th:each="product : ${listProducts}">-->
  <!--    <td>-->
  <!--      <a th:href="@{/products/__${product.id}__}" th:text="${product.name}" /></a>-->
  <!--    </td>-->
  <!--    <td th:text="${product.domain}" />-->
  <!--    <td th:text="${product.quantity}" />-->
  <!--    <td th:text="${product.price}" />-->
  <!--    <td th:text = "${product.productCategory}"/>-->


  </tbody>
</table>

<div th:if="${totalPages > 1}">
  <span th:text="#{pages}">Pages:</span>
  <span>[</span>
  <span th:each="i: ${#numbers.sequence(1, totalPages)}">
      <a th:if="${currentPage != i}" th:href="@{'/products?page=' + ${i}}">[[${i}]]</a>
      <span th:unless="${currentPage != i}">[[${i}]]</span>
    </span>
  <span>] </span>
  <span>
      <a th:if="${currentPage > 1}" th:href="@{'/products?page=1'}" th:title="#{first}" class="fa fa-fast-backward"></a>
      <span th:unless="${currentPage > 1}" th:title="#{first}" class="fa fa-fast-backward"></span>
    </span>
  <span>
      <a th:if="${currentPage > 1}" th:href="@{'/products?page=__${currentPage - 1}__'}" th:title="#{previous}"
         class="fa fa-step-backward"></a>
      <span th:unless="${currentPage > 1}" th:title="#{previous}" class="fa fa-step-backward"></span>
    </span>
  <span>
      <a th:if="${currentPage < totalPages}" th:href="@{'/products?page=__${currentPage + 1}__'}" th:title="#{next}"
         class="fa fa-step-forward"></a>
      <span th:unless="${currentPage < totalPages}" th:title="#{next}" class="fa fa-step-forward"></span>
    </span>
  <span>
      <a th:if="${currentPage < totalPages}" th:href="@{'/products?page=__${totalPages}__'}" th:title="#{last}"
         class="fa fa-fast-forward"></a>
      <span th:unless="${currentPage < totalPages}" th:title="#{last}" class="fa fa-fast-forward"></span>
        </span>

</div>
</body>
</html>
