
<html xmlns:th="https://www.thymeleaf.org">
<body>
<th:block th:fragment="select (label, name, options)">
  <div class="mb-3" th:with="valid=${!#fields.hasErrors(name)}">
    <label class="form-label" th:for="${name}" th:text="${label}">Label</label>

    <select class="form-select"
            th:classappend="${valid ? '' : 'is-invalid'}"
            th:field="*{__${name}__}"
            th:id="${name}">
      <th:block th:if="${options instanceof T(java.util.Map)}">
        <option th:each="opt : ${options}"
                th:value="${opt.key}"
                th:text="${opt.value}">Option</option>
      </th:block>

      <th:block th:unless="${options instanceof T(java.util.Map)}">
        <option th:each="opt : ${options}"
                th:value="${opt}"
                th:text="${opt}">Option</option>
      </th:block>
    </select>

    <div class="invalid-feedback" th:if="${!valid}" th:errors="*{__${name}__}">Error message</div>
  </div>
</th:block>
</body>
</html>
